/* !!!!!!!!!!!!!!!!!!!!!!!!!!!Gestion emplacement photo !!!!!!!!!!!!!!!!!!!*/
.flotte {                                  /*permet de centre l'image*/
float:right;                              /* la possition de l'image */
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!Meunu !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
nav ul{
       padding: 0px;                                 /*marge interieur */
       margin: 0px;                               /*marge exterieur */
       list-style-type: none;                      /* enlever le petit rond menu */
       background-color: #000080;                /*couleur du fond menu */

}
nav li {
        display:inline-block;          /* le menu devient horizontale */
        margin:0px;                   /*marge exterieur */
        width:100px;                       /* taille menu */
        height:40px;                           /* taille menu */
        border-right:1px solid #000080;         /* bordure droite bleu*/
        text-align:center;                  /*centrer le texte */
        line-height: 40px;                 /*permet de centrer verticalement texte */

}
nav li a{
        display:block;      /* occuper tout l'espace autour du texte */
        text-decoration: none;      /* enlever le surlignement texte menu */
        color :#FFFFFF;          /* couleur du texte */
}
nav li :hover{
        background-color:#0000CD; /* quand l'utilisateur passe sa souris la case change de couleur*/
}
h1{
  font-family: 'cac_champagneregular', Arial, serif; /* police pour les h1 */
}
h3{
  font-family:Arial;         /* police pour les h1 */
}
h4{
  font-family:Arial;     /* police pour les h1 */
}
/* !!!!!!!!!!!!!!!!!!!!!! Responsive !!!!!!!!!!!!!!!!!!!!!!  */
@media screen and (max-width: 980px){
nav ul li, nav ul li a{
                    width: 100%;
                    text-align: center; /*aligne texte menu */
}
body{
    text-align: center; /* aligne les texte body */
}
#footer img{
          width: 100%;
}
.flotte img{
          width: 50%;
          image-orientation: center;
}
nav ul{
    background-color:#0000FF;                /*couleur du fond menu */
}

@media screen and (max-width: 780px){
nav ul li, nav ul li a{
          width: 100%;
          text-align: center; /*aligne texte menu */
}
body{
  text-align: center; /* aligne les texte body */
}
#footer img{
         width: 80%; /* taille de l'image */
}
.flotte img{
          width: 80%; /* taille de l'image */
          image-orientation: center;
}
nav ul{
background-color:#1E90FF;                /*couleur du fond menu */
}
}

 @media screen and (max-width: 580px){
nav ul li, nav ul li a{
                     width: 100%;
                     text-align: center; /*aligne texte menu */
}
body{
    text-align: center; /* aligne les texte body */
}
#footer img{
          width: 100%;   /* taille de l'image */
}
.flotte img{
        width: 100%;   /* taille de l'image */
        image-orientation: center;
}
nav ul{
background-color:#0000CD;                /*couleur du fond menu */
}
}
@media (min-width: 260px) and (max-width: 533px) {
nav ul li, nav ul li a{
                     width: 100%;
                     text-align: center; /*aligne texte menu */
}
body{
    text-align: center; /* aligne les texte body */
}
#footer img{
width: 100%; /* taille de l'image */
}
.flotte img{
          width: 200%; /* taille de l'image */
          image-orientation: center;
}
nav ul{
    background-color:#0000CD;                /*couleur du fond menu */
}
}

@media (min-width: 534px) and (max-width: 768px) {
nav ul li, nav ul li a{
                     width: 100%;
                     text-align: center; /*aligne texte menu */
}
body{
   text-align: center; /* aligne les texte body */
}
#footer img{
           width: 100%;   /* taille de l'image */
}
.flotte img{
          width: 100%; /* taille de l'image */
          image-orientation: center;
}
nav ul{
      background-color:#0000CD;                /*couleur du fond menu */
}
}
